@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/index.css" />

    <div class="mensaje-principal">Librería la Internacional - Sistema de registro de libros</div>
    <div class="opciones-menu">
        <a href="Administrador/AgregarLibro"><div class="opcion-menu">Ingreso Libro</div></a>
        <a href="Administrador/AgregarCliente"><div class="opcion-menu">Ingreso Cliente</div></a>
        <a href="Administrador/AgregarIngreso"><div class="opcion-menu">Solicitud de ingreso</div></a>
        <a href="Administrador/AgregarRetiro"><div class="opcion-menu">Solicitud de retiro</div></a>
        <a href="Administrador/ConsultaReporte"><div class="opcion-menu">Solicitud reporte y listados</div></a>
    </div>
