@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_interno_dos";
}

@model WebApplication_Proyecto_II__Morera_Vargas_Isaac.Models.asociar_retirados;

<div class="contenedor-columna primero2">
    <div class="contenedor-datos">
        <label class="titulo-valor color-padre">Consulta Codigo Cliente</label>
        <input class="input-valor border-hijo" id="" value="" type="number" onkeyup="consultaOnline(2 ,this)" required />
    </div>
</div>


<div class="tabla">

    <div class="cuerpo-filas">
    </div>
</div>