@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_interno_dos";
}

@model WebApplication_Proyecto_II__Morera_Vargas_Isaac.Models.asociar_stock;
<div class="contenedor-columna primero">

    <div class="contenedor-datos">
        <label class="titulo-valor color-padre">Consulta Codigo Libro</label>
        <input class="input-valor border-hijo" id="" value="" type="number" onkeyup="consultaOnline(0 ,this)" required />
    </div>

    <div class="contenedor-datos">
        <label class="titulo-valor color-padre">Consulta Codigo Cliente</label>
        <input class="input-valor border-hijo" id="" value="" type="number" onkeyup="consultaOnline(0 ,this)" required />
    </div>
</div>

<div class="contenedor-columna">
    <form method="post" enctype="multipart/form-data" asp-controller="NuevaEnfermedad" asp-action="Registro_Medio" asp-route-id="3" asp-route-codigounico="@TempData["Codigo_Unico"]">
        <div class="contenedor-fila border-padre">
            <div class="contenedor-titulo color-titulo-padre">Datos Registro</div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Codigo Libro</label>
                <input disabled runat="server" asp-for="Codigo_Libro" class="input-valor border-hijo" id="" value="" type="number" onkeyup="" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Descripcion Articulo</label>
                <input runat="server" asp-for="Descripcion_Articulo" class="input-valor border-hijo" id="" value="" type="text" onkeyup="evaluar_vacios()" maxlength="30" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Precio Articulo</label>
                <input runat="server" asp-for="Precio_Articulo" class="input-valor border-hijo" id="" value="" type="number" onkeyup="evaluar_vacios()" maxlength="30" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Codigo Cliente</label>
                <input runat="server" asp-for="Precio_Articulo" class="input-valor border-hijo" id="" value="" type="number" onkeyup="evaluar_vacios()" maxlength="30" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Fecha Ingreso</label>
                <input runat="server" asp-for="Fecha_Ingreso" class="box-input-valor border-hijo" readonly id="" value="" type="text" onchange="evaluar_vacios()" maxlength="30" required />
                <input class="input-date-valor" id="" value="" type="date" onchange="actualizar_fecha(0,'box-input-valor','input-date-valor',false)" required />
            </div>
        </div>

        <input class="button-to-submit" type="submit" value="Guardar" />
    </form>
</div>