@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_interno";
}
@model WebApplication_Proyecto_II__Morera_Vargas_Isaac.Models.asociar_cliente;

<div class="contenedor-columna">
    <form method="post" enctype="multipart/form-data" asp-controller="Administrador" asp-action="RegistrarCliente">
        <div class="contenedor-fila border-padre">
            <div class="contenedor-titulo color-titulo-padre">Datos Registro Cliente</div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Codigo Cliente</label>
                <input readonly runat="server" asp-for="Codigo_Cliente" class="input-valor border-hijo" id="" value="@TempData["Codigo_Cliente"]" type="number" onkeyup="evaluar_vacios()" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Numero Identificacion</label>
                <input runat="server" asp-for="Numero_Identificacion" class="input-valor border-hijo" id="" value="" type="number" onkeyup="recortar(this,9); evaluar_vacios()" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Nombre Cliente</label>
                <input runat="server" asp-for="Nombre_Cliente" class="input-valor border-hijo" id="" value="" type="text" onkeyup="evaluar_vacios()" maxlength="30" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Fecha Nacimiento</label>
                <input runat="server" asp-for="Fecha_Nacimiento" class="box-input-valor border-hijo" readonly id="" value="" type="text" onchange="evaluar_vacios()" maxlength="30" required />
                <input class="input-date-valor" id="" value="" type="date" onchange="actualizar_fecha(0,'box-input-valor','input-date-valor',false)" required />
            </div>
            <div class="contenedor-datos">
                <label class="titulo-valor color-padre">Correo Electronico</label>
                <input runat="server" asp-for="Correo_Electronico" class="input-valor border-hijo" id="" value="" type="text" onkeyup="evaluar_vacios()" maxlength="100" required />
            </div>
        </div>

        <input class="button-to-submit" type="submit" value="Guardar" />
    </form>
</div>